{% extends "pages/base.html" %} {% block title %}Add Customer {% endblock %} 
{% block content %}
<script src="./Country_State_District_City_Data.js"></script>
<div id="wrapper">
  <div class="container">
    <div class="row justify-content-around">
      <form action="." method='POST' class="col-md-10 bg-light p-3 my-3">
        {% csrf_token %}
        {{form.as_p}}
       

        <h1 class="text-center text-uppercase h2 my-5">契約申込書</h1>

     

        <div class="form-group row">
          <div class="col-sm-4">
            <label for="register_date">申込日</label>
            <input type="date" class="" name="register_date" id="register_date" />
          </div>
        </div>
        
        <div class="form-group row">
          <div class="col-sm-6">
            <label for="plan">申込プラン</label>
            <select 
            class="form-select" 
            aria-label="Default select example" 
            name="plan"
            id="plan"
            class="form-control"
            required>
              <option selected>Select plan</option>
              <option value="プラン A">プラン A</option>
              <option value="プラン B">プラン B</option>
              <option value="プラン C">プラン C</option>
            </select>
          </div>

          <div class="col-sm-6 ml-auto">
            <label for="campaign">申込キャンペーン</label>
            <select 
            class="form-select" 
            aria-label="Default select example" 
            name="campaign"
            id="campaign"
            class="form-control"
            required>
              <option selected>Select Campaign</option>
              <option value="キャンペーン A">キャンペーン A</option>
              <option value="キャンペーン B">キャンペーン B</option>
              <option value="キャンペーン C">キャンペーン C</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-6">
            <label for="option">申込オプション</label>
            {% comment %} <input type="text" name="option" id="option" class="form-control" /> {% endcomment %}
            <select 
            class="form-select" 
            aria-label="Default select example" 
            name="option"
            id="option"
            class="form-control"
            required>
              <option selected>Select option</option>
              <option value="オプション A">オプション A</option>
              <option value="オプション B">オプション B</option>
              <option value="オプション C">オプション C</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-6">
            <label for="name">氏名</label>
          </div>

          <div class="col-sm-6 ml-auto">
            <label for="first_name_kata">氏名-カナ</label>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-6">
            <label for="first_name">First Name</label>
            <input
              type="text"
              name="first_name"
              id="first_name"
              class="form-control"
              required
            />
          </div>

          <div class="col-sm-6 ml-auto">
            <label for="first_name_kata">First Name</label>
            <input
              type="text"
              name="first_name_kata"
              id="first_name_kata"
              class="form-control"
            />
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-6">
            <label for="last_name">Last Name</label>
            <input
              type="text"
              name="last_name"
              id="last_name"
              class="form-control"
              required
            />
          </div>

          <div class="col-sm-6 ml-auto">
            <label for="last_name_kata">Last Name</label>
            <input
              type="text"
              name="last_name_kata"
              id="last_name_kata"
              class="form-control"
            />
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-4">
            <label for="gender">性別</label><br />
            <div class="form-check form-check-inline">
              <input
                type="radio"
                name="gender"
                id="male"
                value="male"
                class="form-check-input"
                checked
              />
              <label for="male">男</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                type="radio"
                name="gender"
                id="female"
                value="female"
                class="form-check-input"
              />
              <label for="female">女</label>
            </div>
          </div>

          <div class="col-sm-8">
            <div class="form-group">
              <label for="birthday" class="nowrap mt-2 mr-1">生年月日</label>
              <input type="date" class=" " name="birthday" id="birthday" />
            </div>
          </div>
        </div>


          
  
     

        <label for="country">住所</label>
        <div class="form-group row">
          <div class="col-sm-6">
            <label for="country">Country</label>
          <input
              type="text"
              name="country"
              id="country"
              class="form-control"
              required
            />
            {% comment %} <select 
            class="selectpicker countrypicker"  
            name="country"
            id="country"
            required
            ></select> {% endcomment %}
          </div>

          <div class="col-sm-6 ml-auto">
            <label for="zip_code">Zip/Postal Code</label>
            <input
              type="text"
              name="zip_code"
              id="zip_code"
              class="form-control"
            />
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-6">
            <label for="state_province">State/Province</label>
            <input
              type="text"
              name="state_province"
              id="state_province"
              class="form-control"
              required
            />
          </div>

          <div class="col-sm-6 ml-auto">
            <label for="city">City</label>
            <input
              type="text"
              name="city"
              id="city"
              class="form-control"
            />
          </div>
        </div>

        <div class="form-group">
          <label for="street">Street</label>
          <input type="text" name="street" id="street" class="form-control" />
        </div>

        <div class="form-group row">
          <div class="col-sm-6">
            <label for="phone_number">電話番号</label>
            <input
              type="phone_number"
              name="phone_number"
              id="phone_number"
              class="form-control"
            />
          </div>

          <div class="col-sm-6">
            <label for="email">メールアドレス</label>
            <input type="email" name="email" id="email" class="form-control" />
          </div>
        </div>

        <div class="form-group">
          <label for="note">備考</label>
          <input type="text" name="note" id="note" class="form-control" />
        </div>

        <input  id="myButton" type="submit" value="保存" class="btn-primary btn btn-block" />
      
      </form>
    </div>
  </div>
</div>

<script>
  document.getElementById('register_date').valueAsDate = new Date(); 
  document.getElementById('birthday').valueAsDate = new Date();

  document.getElementById('myButton').addEventListener('submit', function(event) {
      event.preventDefault(); // Ngăn chặn chuyển hướng mặc định của form
  
      pprint("3421362156416541541235721543213751354566")
      // Thu thập dữ liệu từ form
     // var formData = new FormData(this);
    //  pprint(formData)
  
      // Gửi yêu cầu AJAX đến một URL Django
     // fetch('/add_customer_url/', {
       //   method: 'POST',
      //    body: formData,
      //    headers: {
      //        'X-Requested-With': 'XMLHttpRequest',
    //      },
     // })
     // .then(response => response.json())
    //  .then(data => {
          // Xử lý kết quả từ Django (nếu cần)
    //      console.log(data);
    //  })
    //  .catch(error => console.error('Error:', error));
  });
  </script>
{% endblock %}
