{% extends "pages/base.html" %} {% block title %}Add Customer {% endblock %} 
{% block content %}

<div id="wrapper">
  <div class="container">
    <div class="row justify-content-around">
      <form action="{% url 'update_customer' pk=customerPk %}" method='POST' class="col-md-10 bg-light p-3 my-3">
        {% csrf_token %}
        {{form.as_p}}
        <h1 class="text-center text-uppercase h2 my-5">契約申込書</h1>

     
        <div class="form-group row">
          <div class="col-sm-6">
              <label for="data_name">申込データ名</label>
              <input
                type="text"
                name="data_name"
                id="data_name"
                class="form-control"
              />
          </div>

          <div class="col-sm-6 ml-auto">
            <label for="plan">プランコード</label>
              <input
                type="text"
                name="plan"
                id="plan"
                class="form-control"
              />
          </div>
        </div>


        <div class="form-group row">
          <div class="col-sm-6">
              <label for="option">オプションコード</label>
              <input
                type="text"
                name="option"
                id="option"
                class="form-control"
              />
          </div>

          <div class="col-sm-6 ml-auto">
            <label for="campaign">キャンペーンコード</label>
              <input
                type="text"
                name="campaign"
                id="campaign"
                class="form-control"
              />
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-4">
            <label for="register_date">申込日</label>
            <input type="date" class="" name="register_date" id="register_date" required />
          </div>
        </div>
       

        <div class="form-group row">
          <div class="col-sm-6">
              <label for="name">氏名</label>
              <input
                type="text"
                name="name"
                id="name"
                class="form-control"
              />
          </div>

          <div class="col-sm-6 ml-auto">
            <label for="name_kata">氏名カナ</label>
              <input
                type="text"
                name="name_kata"
                id="name_kata"
                class="form-control"
              />
          </div>
        </div>

      

        <div class="form-group row">
          <div class="col-sm-6">
            <label for="gender">性別</label><br />
            <div class="form-check form-check-inline">
              <input
                type="radio"
                name="gender"
                id="male"
                value="男"
                class="form-check-input"
                {% if customerGender == '男' %} checked {% endif %}
              />
              <label for="male">男</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                type="radio"
                name="gender"
                id="female"
                value="女"
                class="form-check-input"
                {% if customerGender == '女' %} checked {% endif %}
              />
              <label for="female">女</label>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label for="birthday" class="nowrap mt-2 mr-1">生年月日</label>
              <input type="date" class=" " name="birthday" id="birthday"  required/>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-6">
              <label for="postal_code">郵便番号</label>
              <input
                type="text"
                name="postal_code"
                id="postal_code"
                class="form-control"
              />
          </div>

          <div class="col-sm-6 ml-auto">
            <label for="address">住所</label>
              <input
                type="text"
                name="address"
                id="address"
                class="form-control"
              />
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-6">
            <label for="phone_number">電話番号</label>
            <input
              type="tel"
              name="phone_number"
              id="phone_number"
              class="form-control"
              pattern="[0-9]+"
              title="Please enter only numbers"
              maxlength="11"
            />
          </div>

          <div class="col-sm-6">
            <label for="email">メールアドレス</label>
            <input type="email" name="email" id="email" class="form-control" />
          </div>
        </div>

        <div class="form-group">
          <label for="note">備考</label>
          <input type="text" name="note" id="note" class="form-control" />
        </div>

        <div class="form-group">
          <label for="state">ステータス</label>
          <input type="text" name="state" id="state" class="form-control" />
        </div>

        <input  id="myButton" type="submit" value="保存" class="btn-primary btn btn-block" />
      
      </form>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var customer2 = {{ customer | safe }};

    if (customer2.dataName != "") {
      var registerDateField = document.getElementById('data_name');
      registerDateField.value = customer2.dataName; 
    }
    if (customer2.plan != "") {
      var planField = document.getElementById('plan');
      planField.value = customer2.plan; 
    }

    if (customer2.option != "") {
      var optionField = document.getElementById('option');
      optionField.value = customer2.option; 
    }
    
    if (customer2.campaign != "") {
      var campaignField = document.getElementById('campaign');
      campaignField.value = customer2.campaign; 
    }

   

    if (customer2.appDate != "") {
      var appDateField = document.getElementById('register_date');
      appDateField.value = customer2.appDate;
    }

    if (customer2.name != "") {
      var nameField = document.getElementById('name');
      nameField.value = customer2.name;
    }

    if (customer2.nameKata != "") {
      var nameKataField = document.getElementById('name_kata');
      nameKataField.value = customer2.nameKata;
    }
    
    if (customer2.birthday != "") {
      var birthdayField = document.getElementById('birthday');
      birthdayField.value = customer2.birthday; 
    }

    {% comment %} if (customer2.post != "") {
      var postField = document.getElementById('postal_code'); 
      postField.value = customer2.post; 
    } {% endcomment %}

    if (customer2.address != "") {
      var addressField = document.getElementById('address'); 
      addressField.value = customer2.address; 
    }

    if (customer2.phoneNumber != "") {
      var phoneNumberField = document.getElementById('phone_number'); 
      phoneNumberField.value = customer2.phoneNumber; 
    }

    if (customer2.mailAddress != "") {
      var emailField = document.getElementById('email'); 
      emailField.value = customer2.mailAddress; 
    }

    if (customer2.remarks != "") {
      var remarksField = document.getElementById('note'); 
      remarksField.value = customer2.remarks; 
    }

    if (customer2.status != "") {
      var statusField = document.getElementById('state'); 
      statusField.value = customer2.status; 
    }

   
});


  document.getElementById('myButton').addEventListener('submit', function(event) {
      event.preventDefault(); // Ngăn chặn chuyển hướng mặc định của form
      pprint("3421362156416541541235721543213751354566 222 hanh upadte")
  });
  </script>
{% endblock %}
